@font-face {
  font-family: 'Gaegu-Regular';
  src: url('./fonts/Gaegu-Regular.ttf');
}
@font-face{
  font-family : FiraMono;
  src:url('./fonts/FiraMono-Medium.ttf')
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  background-color: #f8f9fa;
}

.wrap {
  background-color: black;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}

/* 카카오 로그인 버튼 */

.kakao_btn {
  background-image: url('/src/images/kakao_login_small.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px auto;
  /* padding: -10px; */
  color: transparent;
  width: 100px;
  height: 50px;
}
