@font-face {
  font-family: 'Gaegu-Regular';
  src: url('./fonts/Gaegu-Regular.ttf');
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  background-color: #f8f9fa;
}

.wrap {
  background-color: black;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}
